[DEFAULT]

#
# Options defined in achus.reporter
#

# Report definition location. (string value)
#report_definition=etc/report.yaml


[gecollector]

#
# Options defined in achus.collector.gridengine
#

# MySQL host where GE accounting database is located. (string
# value)
#host=localhost

# Port number of MySQL host. (integer value)
#port=3306

# User to authenticate as. (string value)
#user=ge_accounting

# Password to authenticate with. (string value)
#password=

# Name of the accounting database. (string value)
#dbname=ge_accounting


[renderer]

#
# Options defined in achus.renderer
#

# The full class name of the renderer to use (string value)
#renderer_class=achus.renderer.pdf.PDFChart

# Report output file. (string value)
#output_file=report.pdf


